*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    background: linear-gradient(90deg, #cecdfa, #D4A373);
}

.loginbanner{
    width: 100%;
    height: auto;
}

#formcon{
    background: #CCD5AE;
}

.formdiv{
    max-width: 500px;
    width: 100%;
    padding-top: 50px;
    font-size: 20px;
    margin: 0 auto;
}

#loginbutton{
    background-color: #CCD5AE;
    color: darkgreen;
    width: 100%;
    height: auto;
    font-weight: 900;
    font-size: 20px;
}
#inputbox{
    height: 30px;
    width: 450px;
    font-size: 18px;
    color: red;
}
