.nav-icon .navbar-brand:hover{
    font-weight: 900;
    background-color: rgba(255, 255, 255, 0.2);
}

.offcanvas-options a{
    cursor: pointer;
}

.offcanvas-options a:hover{
    background-color: rgba(255, 255, 255, 0.2);
    font-weight: 900;
}

.op-ac{
    font-weight: 900;
    color: burlywood;
}

.nav-link:hover{
    font-weight: 900;
    background-color: rgba(255, 255, 255, 0.1);
}